h1 {
    color: Black ;
    text-align:center;
    font-size: 400%;
    font-family: sans-serif
}

p {
    color: black;
    text-align:center;
    font-size: 200%;

}

body{
    background-image: url('./Zeus.jpg');
    background-size: contain;
}